.git
!.git/
.git/*
!.git/HEAD
!.git/packed-refs
!.git/refs/
!.git/refs/heads/
!.git/refs/heads/**
.github
.pytest_cache
.ruff_cache
.mypy_cache
.tox
.venv
venv
env
__pycache__
**/__pycache__
*.pyc
*.pyo
*.py[cod]
*$py.class
.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
build
*.egg-info
