.DS_Store
__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
.pdm-build/
dist/
*.egg-info/

env/
test/
tmp/
.tmp-*/

/.heartbeat.json
/index.jsonl
/archivedotorg/
/chrome/
/claudechrome/
/forumdl/
/gallerydl/
/git/
/title/
/twocaptcha/
/wget/
/ytdlp/
